@charset "UTF-8";
/*Utilities*/
/*base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 4.375rem;
  margin: 0.9375rem;
}

h2 {
  font-family: "Fjalla One", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-family: "Fjalla One", sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: "Fjalla One", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/*layout*/
header {
  background-color: #DEAA79;
  display: flex;
}
header a {
  width: 10%;
}
header a img {
  width: 12.5rem;
  border-radius: 50%;
}

.indexSectionUno {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  flex-wrap: none;
  gap: none;
  margin: 3.125rem;
}
.indexSectionUno div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  gap: none;
  margin-right: 15.625rem;
}

.indexSectionDos {
  margin: 3.125rem;
}
.indexSectionDos .tarjetasImportante {
  display: flex;
  justify-content: space-around;
}
.indexSectionDos .tarjetasImportante .importanteMain {
  background-color: #B1C29E;
  width: 18.75rem;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  padding: 6.25rem;
}
.indexSectionDos .tarjetasImportante .importanteMain article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  gap: none;
}
.indexSectionDos .tarjetasImportante .importanteMain article h2 {
  width: 12.5rem;
  display: flex;
  justify-content: center;
  margin: 0.9375rem;
}
.indexSectionDos .tarjetasImportante .importanteMain article p {
  margin: 0.9375rem;
  width: 9.375rem;
}

.sectionContactos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  gap: none;
}

.tituloContactos {
  display: flex;
  justify-content: center;
  margin: 3.125rem;
}
.tituloContactos h2 {
  font-size: 3.125rem;
}

.divContactos {
  background-color: #B1C29E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  gap: none;
  height: 43.75rem;
  margin: 3.125rem;
  width: 31.25rem;
}
.divContactos h3 {
  font-size: 1.875rem;
  margin-bottom: 4.375rem;
}

.redesSocialesTitulo {
  font-size: 1.4375rem;
}

.redesSocialesList {
  list-style: none;
  margin-top: 0.3125rem;
  margin-bottom: 2.25rem;
}
.redesSocialesList li a {
  text-decoration: none;
  color: black;
}

.contactos {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
.contactos .h4ContactosS {
  font-size: 1.4375rem;
}
.contactos .pContactos {
  margin-top: 0.3125rem;
}

.membresiaSection {
  margin: 3.125rem;
}
.membresiaSection .tituloMembresia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  flex-wrap: none;
  gap: none;
  margin: 2.25rem;
}
.membresiaSection .tituloMembresia h2 {
  font-size: 3.125rem;
}
.membresiaSection .tarjetasMembresia {
  display: flex;
  justify-content: space-around;
  height: 34.6875rem;
}
.membresiaSection .tarjetasMembresia div {
  background-color: #B1C29E;
  width: 21.875rem;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  padding: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  gap: none;
}
.membresiaSection .tarjetasMembresia div h2 {
  width: 12.5rem;
  display: flex;
  justify-content: center;
  margin: 0.9375rem;
  font-size: 1.875rem;
}
.membresiaSection .tarjetasMembresia div h3 {
  margin: 0.625rem;
}

.tituloNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  gap: none;
  margin: 3.125rem;
}
.tituloNosotros h2 {
  font-size: 3.125rem;
}

.contenedorNosotros {
  background-color: #B1C29E;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  gap: none;
  height: 43.75rem;
  margin: 3.125rem;
}
.contenedorNosotros h3 {
  font-size: 1.875rem;
}
.contenedorNosotros p {
  font-size: 1.5625rem;
  width: 60%;
}

.sectionTienda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  gap: none;
}
.sectionTienda h2 {
  font-size: 3.125rem;
  margin: 3.125rem;
}

.gridProductos {
  margin-bottom: 1.25rem;
  gap: 1.5625rem;
  width: 80%;
  height: 37.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 15.625rem;
}
.gridProductos div {
  background-color: #B1C29E;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: none;
  gap: none;
  height: 100%;
  width: 100%;
}
.gridProductos div a {
  background-color: #FFE6A9;
  color: #4b6e66;
  text-decoration: none;
  margin: 0.625rem;
}
.gridProductos div img {
  height: 15.625rem;
  width: 12.5rem;
  margin: 0.625rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: none;
  flex-wrap: none;
  gap: none;
  background-color: #DEAA79;
}
footer .botonesFooter {
  display: flex;
  justify-content: center;
}
footer .botonesFooter li {
  list-style: none;
  margin: 0.3125rem;
}
footer .botonesFooter li a {
  background-color: #FFE6A9;
  color: #4b6e66;
  text-decoration: none;
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.625rem;
  margin: 6.25rem;
}

.imgFooter {
  width: 2.5rem;
  border-radius: 50%;
  margin: 0.3125rem;
}

/*Componentes*/
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: none;
  flex-wrap: none;
  gap: none;
  width: 90%;
}
.navBar .botonesNav {
  display: flex;
  justify-content: center;
}
.navBar .botonesNav li {
  list-style: none;
  margin: 0.3125rem;
}
.navBar .botonesNav li a {
  background-color: #FFE6A9;
  color: #4b6e66;
  text-decoration: none;
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0.3125rem 0.9375rem;
  border-radius: 0.625rem;
  margin: 6.25rem;
}

/*Media Query (web design o Mobile first)*/
@media (max-width: 1560px) {
  header {
    flex-direction: column;
  }
  .botonesNav li a {
    margin: 0.3125rem;
    padding: 0.3125rem;
  }
}
@media (max-width: 1024px) {
  .gridProductos {
    margin-bottom: 1.25rem;
    gap: 1.5625rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15.625rem;
    height: 100%;
  }
}
@media (max-width: 520px) {
  .botonesNav {
    display: flex;
    flex-direction: column;
  }
  .gridProductos {
    margin-bottom: 1.25rem;
    gap: 1.5625rem;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 15.625rem;
    height: 100%;
  }
}
@media (max-width: 320px) {
  header a img {
    width: 6.25rem;
  }
  .botonesNav li {
    font-size: 0.625rem;
  }
  .imagenesFooter a img {
    width: 1.25rem;
  }
}
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/
/*G E N E R A L  P A R A  T O D A S  L A S  P A G I N A S*/
/*header{
    background-color:#DEAA79 ;
    display: flex;
    a{
        width: 10%;
        img{
            width: 12.5rem;
            border-radius: 50%;
        }
    }
}*/
/*.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    .botonesNav{
        display: flex;
        justify-content: center;
        li{
            list-style: none;
            margin: .3125rem;
            a{
                background-color: #FFE6A9;
                color: #4b6e66;
                text-decoration: none;
                font-family: "Genos", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                padding: .3125rem .9375rem;
                border-radius: .625rem;
                margin: 6.25rem;
            }
        }
    }
}*/
/*footer{
    background-color: #DEAA79;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgFooter{
    width: 3.125rem;
}*/
/*h1{
    font-family: "Fjalla One", sans-serif;
    font-weight:bold;
    font-style: normal;
    font-size:4.375rem;
    margin: .9375rem;
}

h2{
    font-family: "Fjalla One", sans-serif;
    font-weight:600;
    font-style: normal;
}

h3{
    font-family: "Fjalla One", sans-serif;
    font-weight:600;
    font-style: normal;
}

p{
    font-family: "Fjalla One", sans-serif;
    font-weight:100;
    font-style: normal;
}*/
/*M A I N  I N D E X*/
/*.indexSectionUno{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.125rem;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15.625rem;
    }
}

.indexSectionDos{
    margin: 3.125rem;
    .tarjetasImportante{
        display: flex;
        justify-content: space-around;
        .importanteMain{
            background-color: #B1C29E;
            width: 18.75rem;
            margin-left: 3.125rem;
            margin-right: 3.125rem;
            padding: 6.25rem;
            article{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2{
                    width: 12.5rem;
                    display: flex;
                    justify-content: center;
                    margin: .9375rem;
                }
                p{
                    margin: .9375rem;
                    width: 9.375rem;
                }
            }
        }
    }
}*/
/*M A I N  I N D E X*/
/*M A I N  T I E N D A*/
/*.sectionTienda{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 3.125rem;
            margin: 3.125rem;
        }
}

.gridProductos{
    margin-bottom: 1.25rem;
    gap: 1.5625rem;
    width: 80%;
    height: 37.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 15.625rem;
    div{
        background-color: #B1C29E;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        a{
            background-color: #FFE6A9;
            color: #4b6e66;
            text-decoration: none;
            margin: .625rem;
        }
        img{
            height: 15.625rem;
            width: 12.5rem;
            margin: .625rem;
        }
    }
}*/
/*M A I N  T I E N D A*/
/*M A I N  N O S O T R O S*/
/*.tituloNosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3.125rem;
    h2{
        font-size: 3.125rem;
    }
}

.contenedorNosotros{
    background-color: #B1C29E;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    height: 43.75rem;
    margin: 3.125rem;
    h3{
        font-size: 1.875rem;
    }
    p{
        font-size: 1.5625rem;
        width: 60%;
    }
}*/
/*M A I N  N O S O T R O S*/
/*M A I N  C O N T A C T O S*/
/*.sectionContactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloContactos{
    display: flex;
    justify-content: center;
    margin: 3.125rem;
    h2{
        font-size: 3.125rem;
    }
}

.divContactos{
    background-color: #B1C29E;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 43.75rem;
    margin: 3.125rem;
    width: 31.25rem;
    h3{
        font-size: 1.875rem;
        margin-bottom: 4.375rem;
    }
}

.redesSocialesTitulo{
    font-size: 1.4375rem;
}

.redesSocialesList{
    list-style: none;
    margin-top: .3125rem;
    margin-bottom: 2.25rem;
    li{
        a{
            text-decoration: none;
            color: black;
        }
    }
}

.contactos{
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    .h4ContactosS{
        font-size: 1.4375rem;
    }
    .pContactos{
        margin-top: .3125rem;
    }
}*/
/*M A I N  C O N T A C T O S*/
/*M A I N  M E M B R E S Í A*/
/*.membresiaSection{
    margin: 3.125rem;
    .tituloMembresia{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.25rem;
        h2{
            font-size: 3.125rem;
        }
    }
    .tarjetasMembresia{
    display: flex;
    justify-content:space-around;
    height: 34.6875rem;
    div{
        background-color: #B1C29E;
        width: 21.875rem;
        margin-left: 3.125rem;
        margin-right: 3.125rem;
        padding: 6.25rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        h2{
            width: 12.5rem;
            display: flex;
            justify-content: center;
            margin: .9375rem;
            font-size: 1.875rem;
        }
        h3{
            margin: .625rem;
        }
    }
    }
}*/
/*M A I N  M E M B R E S Í A*/
/*M E D I A  Q U E R Y*/
/*@media(max-width:1560px){
    header{
        flex-direction: column;
    }


.botonesNav li a{
    margin: .3125rem;
    padding: .3125rem;
}
}*/
/*@media(max-width:1024px){
    .gridProductos{
        margin-bottom: 1.25rem;
        gap: 1.5625rem;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15.625rem;
        height: 100%;
    }
}*/
/*@media(max-width:520px){
    .botonesNav{
        display: flex;
        flex-direction: column;
    }
    .gridProductos{
        margin-bottom: 1.25rem;
        gap: 1.5625rem;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 15.625rem;
        height: 100%;
    }
}*/
/*@media(max-width:320px){
    header a img{
        width: 6.25rem;
    }
    .botonesNav li{
        font-size: .625rem;
    }

    .imagenesFooter a img{
        width: 1.25rem;
    }
}*/
/*M E D I A  Q U E R Y*/

/*# sourceMappingURL=style.css.map */
