footer{
    @include flex(space-between,center,none,none,none);
    background-color: map-get($colores,color1);
    .botonesFooter{
        display: flex;
        justify-content: center;
        li{
            list-style: none;
            margin: .3125rem;
            a{
                @extend .button;
            }
        }
    }
}

.imgFooter{
    width: 1.875rem;
    border-radius: 50%;
    margin: .3125rem;
}