header{
    background-color:map-get($colores,color1);
    display: flex;
    a{
        width: 10%;
        img{
            width: 6.25rem;
            border-radius: 50%;
            margin: .3125rem;
        }
    }
}