@media(max-width:1210px){
    .indexSectionDos{
        margin: 1.5625rem;
        .tarjetasImportante{
            margin: 0rem;
            .importanteMain{
                margin: 0rem;
            }
        }
    }
}