.navBar{
    @include flex(center,center,none,none,none);
    width: 90%;
    .botonesNav{
        display: flex;
        justify-content:center;
        li{
            list-style: none;
            margin: .3125rem;
            }
            a{
                @extend .button;
            }
        }
    }

