@media(max-width:1220px){
    .navBar{
        .botonesNav{
            margin: 0;
            li{
                margin: 0;
                a{
                    margin: .3125rem;
                }
            }
        }
    }
}