.membresiaSection{
    margin: 3.125rem;
    .tituloMembresia{
        @include flex(center,center,none,none,none);
        margin: 2.25rem;
        h2{
            font-size: 3.125rem;
        }
    }
    .tarjetasMembresia{
        display: flex;
        justify-content:space-around;
        height: 34.6875rem;
        .membresiaBronce{
            @extend .cardBronce;
        }
        .membresiaPlata{
            @extend .cardPlata;
        }
        .membresiaOro{
            @extend .cardOro;
        }
    }
}