@media(max-width:470px){
    .sectionNosotros{
        .contenedorNosotros{
            margin: 1.25rem;
            margin-top: 0rem;
            width: 18.75rem;
            height: 37.5rem;
            h3{
                font-size: 1.5625rem;
            }
            p{
                font-size: .75rem;
            }
        }
    }
}