@media(max-width:545px){
    .sectionNosotros{
        .tituloNosotros{
            margin: 1.5625rem;
        }
        .contenedorNosotros{
            margin: 1.25rem;
            margin-top: 0rem;
            width: 28.125rem;
            h3{
                font-size: 1.875rem;
            }
            p{
                font-size: .9375rem;
            }
        }
    }
}